.tab input, .tab-content { display: none; }
.tab {

 border-bottom: solid 1px #bcbcbc;
 word-wrap: break-word;
 margin: 5px;
 border-radius: 3px;
 padding: 5px;
 cursor: pointer;
 user-select: none;   
 width: 95%
}
.tab-title {
 padding: 10px; 
 display: block; 
 font-weight: bold; 
 cursor: pointer; 
}

.tab-content {
 padding: 10px 20px; 
}
.tab :checked + .tab-title {
 background-color: #a3a3a330; 

}

.hidden{
    display: none;
    opacity: 0;
}

