.tab input, .tab-content { display: none; }
.tab {
 border: 1px solid #fff; /* Параметры рамки */
 border:solid 1px black;
 word-wrap: break-word;
 margin: 5px;
 border-radius: 3px;
 padding: 5px;
 cursor: pointer;
 user-select: none;   
 width: 95%
}
.tab-title {
 padding: 10px; 
 display: block; 
 font-weight: bold; 
 cursor: pointer; 
}
.tab-title::after {
 content: '+'; 
 float: right; 
}
.tab-content {
 padding: 10px 20px; 
}
.tab :checked + .tab-title {
 background-color: #50a2de; 
 border-radius: 3px 3px 0 0; 
 color: #fff; 
}
.tab :checked + .tab-title::after {
 content: '−'; 
}
.tab :checked ~ .tab-content {
 display: block; 
 transition: all 1s linear;
}
.hidden{
    display: none;
    opacity: 0;
}

