.partners{
    margin-top: 35px;

&__item{
    display: flex;
    //padding: 30px;
    
    justify-content: space-around;
    flex-wrap: wrap;
}
&__item-img{
  
   width: 100px;
   margin: 10px;
   align-self: flex-start;
}
}

