@use "../variables.scss";
.curve-container {
  height: 940px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.curve-container-bottom {
  margin-top: 198px;
  height: 100%;
 @extend .curve-container;
}
@media (max-width: $breakpoint-xs) {
  .curve-container {
   width: 480px;
  }
}

