$white: #fff;
$gray: #666666;
$luckyGray: #777777;
$black: #000000;
$lightBlack: #171614;
$lightBlue: #EBF7FF;
$primary: #34B2FF;
$secondary: #074ECE;
$lightGray: #f5f5f5;

$breakpoint-s: 640px;
$breakpoint-m: 920px;
$breakpoint-l: 1200px;

$minWidth: 480px;
$maxWidth: 1920px;
$maxWidthContainer: 1170px;
